<!DOCTYPE html>
<html>
    <head>
        <title>Administration</title>       
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
        <link rel="stylesheet" media="screen" href="@{'/public/stylesheets/foundation.css'}">
        <link rel="stylesheet" media="screen" href="@{'/public/stylesheets/app.css'}">
        #{get 'moreStyles' /}
        <link rel="shortcut icon" type="image/png" href="@{'/public/images/favicon.png'}">
        <script src="@{'/public/javascripts/jquery.js'}" type="text/javascript" charset="${_response_encoding}"></script>
        <script src="@{'/public/javascripts/modernizr.foundation.js'}" type="text/javascript" charset="${_response_encoding}"></script>
        <script src="@{'/public/javascripts/foundation.min.js'}" type="text/javascript" charset="${_response_encoding}"></script>
        <script src="@{'/public/javascripts/app.js'}" type="text/javascript" charset="${_response_encoding}"></script>
        #{get 'moreScripts' /}      
    </head>
    <body>
        <div class="row">
            <br/><br/>
            <div class="five columns offset-by-three">
                #{form @authenticate()}
                <p>
                    <label for="username">User name: </label> <input type="text" name="username" id="username" maxlength="30"   value="${params.username}" />
                </p>
                <p>
                    <label for="password">Password: </label> <input type="password" name="password" id="password" maxlength="30"/>
                </p>
                <p>
                    <input class="button" type="submit" id="signin" value="Log in" />
                </p>
                #{/form}
            </div>
        </div>
        
    </body>
</html>



