#{extends 'login.html' /}
#{set title:'Login' /}

<div class="container">

<div id="login">
		
	#{form @authenticate(), class:'form-signin' }
		
		#{if flash.error}
			<div class="alert">
                <button type="button" class="close" data-dismiss="alert">&times;</button>
                Usuario o Contraseña incorrecto                  
            </div>
		#{/if}
		#{if flash.success}
			<p class="success">
				&{flash.success}
			</p>
		#{/if}
		<h1>Almacen</h1>
        <h3>Por favor, identifíquese</h3>
	   
        <p>
            <input placeholder="Usuario" class="input-block-level" type="text" name="username" id="username" maxlength="30" value="${flash.username}" required />
        </p>
        <p>
            </label> <input placeholder="Contraseña" class="input-block-level" type="password" name="password" id="password" maxlength="30" required />
        </p>
        <p>
            <label class="checkbox">
                <input type="checkbox" name="remember" id="remember" value="true" ${flash.remember ? 'checked="true"' : ''} /> <span class="btext">Recuerdame</span>
            </label>                     
        </p>
        <p>
            <input class="btn btn-large btn-primary" type="submit" id="signin" value="Ingresar" />
        </p>		
	#{/form}
</div>

 </div> <!-- /container -->