
<h1>email</h1>
#{form @message()}
#{if flash.error || error}
<div class="alert-box alert">
  No se pudo enviar mensaje
  <a href="" class="close">&times;</a>
</div>
#{/if}
<p>
    <label for="username">Email: </label> <input type="text" name="address" id="address" maxlength="30"   value="${params.address}" />
</p>
<p>
    <label for="password">Mensaje: </label><textarea id="message" name="message">${params.message}</textarea>
</p>
<p>
    <input class="button" type="submit" id="send" value="send" />
</p>
#{/form}