<!DOCTYPE html>

<html lang="${lang}">
    <head>
        <title>#{get 'title' /}</title>
        <meta charset="${_response_encoding}" />
        <link rel="stylesheet" media="screen" href="@{'/public/stylesheets/foundation.css'}">
        <link rel="stylesheet" media="screen" href="@{'/public/stylesheets/general_foundicons.css'}">
        <link rel="stylesheet" media="screen" href="@{'/public/stylesheets/app.css'}">
        #{get 'moreStyles' /}
        <link rel="shortcut icon" type="image/png" href="@{'/public/images/favicon.png'}">
        <script src="@{'/public/javascripts/jquery.js'}" type="text/javascript" charset="${_response_encoding}"></script>
        <script src="@{'/public/javascripts/modernizr.foundation.js'}" type="text/javascript" charset="${_response_encoding}"></script>
        <script src="@{'/public/javascripts/foundation.min.js'}" type="text/javascript" charset="${_response_encoding}"></script>
        <script src="@{'/public/javascripts/app.js'}" type="text/javascript" charset="${_response_encoding}"></script>
        #{get 'moreScripts' /}
    </head>
    <body>
        <div class="row">
            <div class="twelve columns">
                <h1><a href="@{CRUD.index()}">&{'crud.title'}</a></h1>
            </div>
            <div class="twelve columns">
            #{if request.actionMethod != 'index'}                    
                #{crud.navigation /}                    
            #{/if}
            </div>
            <div class="twelve columns">
            #{if flash.success}            
                ${flash.success}            
            #{/if}
            </div>
            <div class="twelve columns">
            #{if flash.error || error}
                ${error ?: flash.error}
            #{/if}
            </div>
            <div class="twelve columns">
                #{doLayout /}
            </div>
            <div class="twelve columns">
                 <p>Cosmeticos Azucena ha sido construido con <a href="http://www.playframework.org">Play framework</a></p>
            </div>
        </div>
    </body>
</html>
