#{extends 'main.html' /}
#{set title:'Gestion de Tienda' /}

<div class="container">
	<div class="row">
		<br/><br/>
		<div class="span12">		
		    <form class="form-search">
    			<input type="text" class="input-medium search-query span8">
    			<button type="submit" class="btn btn-info">Buscar</button>
    		</form>
    	</div>
	</div>
	<div class="row">		
		<div class="span12">
			<table class="table table-bordered table-striped table-hover">
				<thead>
					<tr>
						<th>#</th>
						<th>Producto</th>
						<th>Cantidad</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td>1</td>
						<td>Producto</td>
						<td>18</td>
					</tr>
					<tr>
						<td>2</td>
						<td>Producto</td>
						<td>5</td>
					</tr>
					<tr>
						<td>3</td>
						<td>Producto</td>
						<td>50</td>
					</tr>
					<tr>
						<td>4</td>
						<td>Producto</td>
						<td>60</td>
					</tr>
				</tbody>			
			</table>			
		</div>
	</div>
</div>