#{extends 'main.html' /}
#{set title:'Gestion de Tienda' /}

<div class="container">	
	<div class="row">	
		<div class="col-md-3">
			<ul class="nav nav-pills nav-stacked">
  				<li class="active"><a href="#"><i class="fa fa-home"></i> Inicio</a></li>
  				<li><hr/></li>
  				<li><h5>Moviento de Productos</h5></li>
  				<li><a href="#"><i class="fa fa-arrow-left"></i> Ingreso</a></li>
  				<li><a href="#"><i class="fa fa-arrow-right"></i> Salida</a></li>
  				<li><hr/></li>
  				<li><a href="#"><i class="fa fa-cubes"></i> Productos</a></li>
  				<li><a href="/tiendas"><i class="fa fa-building-o"></i> Tiendas</a></li>
  				<li><hr/></li>
  				<li><a href="/vendedores"><i class="fa fa-briefcase"></i> Vendedores</a></li>
  				<li><a href="/distribuidores"><i class="fa fa-truck"></i> Distribuidores</a></li>
  				<li><hr/></li>
  				<li><a href="/usuarios"><i class="fa fa-users"></i> Usuarios</a></li>
			</ul>
		</div>
	</div>
</div>

