#{extends 'main.html' /}
#{set title:'Gestion de Tienda' /}

<div class="container">	
	<div class="row">		
		<div class="col-md-12">
			<ul class="breadcrumb">
		    	<li><a href="#">Mantenimiento</a></li>		    
		    </ul>		
		</div>
		<div class="col-md-12">
			<div class="col-md-2 center">
		    	<a href="usuarios/list">		    	
		    		<img src="@{'/public/img/usuarios.png'}" />	    	
		    	</a><br/>
		    	Usuarios
		    </div>
		    <div class="col-md-2 center">
		    	<a href="productos/list">		    	
		    		<img src="@{'/public/img/productos.png'}" />	    	
		    	</a><br/>
		    	Productos
		    </div>
		    <div class="col-md-2 center">
		    	<a href="categorias/list">		    	
		    		<img src="@{'/public/img/categorias.png'}" />	    	
		    	</a><br/>
		    	Categorias
		    </div>
		    <div class="col-md-2 center">
		    	<a href="costos/list">		    	
		    		<img src="@{'/public/img/costos.png'}" />	    	
		    	</a><br/>
		    	Costo de Productos
		    </div>		     
		</div>
		
		<div class="col-md-12">
			<br/>
			<ul class="breadcrumb">
		    	<li><a href="#">Registro</a></li>		    
		    </ul>	
		</div>
		<div class="col-md-12">
			<div class="col-md-2 center">
		    	<a href="entradas/list">
		    	<img src="@{'/public/img/ingreso.png'}" />	    	
		    	</a><br/>
		    	Ingreso de Productos
			</div>
		    <div class="col-md-2 center">
		    	<a href="salidas/list">		    	
		    		<img src="@{'/public/img/salida.png'}" />	    	
		    	</a><br/>
		    	Salida de Productos
		    </div>
		</div>
		<div class="col-md-12">
			<br/>
			<ul class="breadcrumb">
		    	<li><a href="#">Servicios</a></li>		    
		    </ul>	
		</div>
		<div class="col-md-12">
            <table class="table table-bordered table-striped table-hover">
            	<tr>
            		<th>Nombre</th>
            		<th>Url</th>
            	</tr>
            	<tr>
            		<td>Lista de Productos</td>
            		<td><a href="/buscarProducto?codigo=" target="_blank" class="btn btn-success btn-small">GET</a> /buscarProducto?codigo=</td>
            	</tr>
            	<tr>
            		<td>Lista de Productos</td>
            		<td><a href="/listaDeProductos" target="_blank" class="btn btn-success btn-small">GET</a> /listaDeProductos</td>
            	</tr>
            	<tr>
            		<td>Lista de Productos Faltantes</td>
            		<td><a href="/listarProductosFaltantes" target="_blank" class="btn btn-success btn-small">GET</a> /listarProductosFaltantes</td>
            	</tr>
            </table>
        </div> 
	</div>
</div>