#{extends 'CRUD/layout.html' /}
#{set title:messages.get('crud.list.title', type.name) /}

<div id="crudList" class="${type.name}">

    <h2 id="crudListTitle">&{'crud.list.title', type.name}</h2>

    <table id="MyGrid" class="table table-bordered datagrid">
        <thead>
            <tr>
                <th>
                    <div class="datagrid-header-right">
                        <div class="input-append search">
                            #{crud.search /}
                        </div>
                    </div>
                </tr>
            </th>
        </thead>
    </table>
    

    <div id="crudListTable">
        #{crud.table /}
    </div>

    <div id="crudListPagination">
        #{crud.pagination /}
    </div>

    <p id="crudListAdd">
        <a href="@{blank()}">&{'crud.add', type.modelName}</a>
    </p>

</div>
<script src="@{'/public/js/fuelux.min.js'}" type="text/javascript"></script>
<script type="text/javascript">
$('#MyGrid').datagrid({ dataSource: dataSource, stretchHeight: true });
</script>