<!DOCTYPE html>
<html>
    <head>
        <title>Administration</title>		
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
        <link rel="stylesheet" media="screen" href="@{'/public/stylesheets/foundation.css'}">
        <link rel="stylesheet" media="screen" href="@{'/public/stylesheets/general_foundicons.css'}">
        <link rel="stylesheet" media="screen" href="@{'/public/stylesheets/app.css'}">
        #{get 'moreStyles' /}
        <link rel="shortcut icon" type="image/png" href="@{'/public/images/favicon.ico'}">
        <script src="@{'/public/javascripts/jquery.js'}" type="text/javascript" charset="${_response_encoding}"></script>
        <script src="@{'/public/javascripts/modernizr.foundation.js'}" type="text/javascript" charset="${_response_encoding}"></script>
        <script src="@{'/public/javascripts/foundation.min.js'}" type="text/javascript" charset="${_response_encoding}"></script>
        <script src="@{'/public/javascripts/app.js'}" type="text/javascript" charset="${_response_encoding}"></script>
        #{get 'moreScripts' /}      
    </head>
    <body>
        <div class="row">
            <div class="eleven columns">
                <h2>Cosmeticos Azucena - <span>Panel de Control</span></h2>
            </div>
            <div class="one columns">
                <br/><br/>
                <i class="foundicon-left-arrow">&nbsp;</i><a href="@{Secure.logout()}">Salir</a>
            </div>            
            <div class="twelve columns">
                #{doLayout /}
            </div>
            <div class="twelve columns">
                <p>Cosmeticos Azucena ha sido construido con <a href="http://www.playframework.org">Play framework</a></p>
            </div>
        </div> 
    </body>
</html>