<!DOCTYPE html>
<html>
    <head>
        <title>#{get 'title' /}</title>
        <meta charset="${_response_encoding}">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" media="screen" href="@{'/public/css/bootstrap.css'}">
        <link rel="stylesheet" media="screen" href="@{'/public/css/bootstrap-responsive.css'}">
        <link rel="stylesheet" media="screen" href="@{'/public/css/app.css'}">
        #{get 'moreStyles' /}
        <link rel="shortcut icon" type="image/png" href="@{'/public/img/favicon.png'}">
        <script src="@{'/public/js/jquery.js'}" type="text/javascript" charset="${_response_encoding}"></script>
        <script src="@{'/public/js/bootstrap.js'}" type="text/javascript" charset="${_response_encoding}"></script>
        <script src="@{'/public/js/bootstrap-carousel.js'}" type="text/javascript" charset="${_response_encoding}"></script>       
        <script src="@{'/public/js/app.js'}" type="text/javascript" charset="${_response_encoding}"></script>
        #{get 'moreScripts' /} 
    </head>
    <body>
    
    <div class="navbar navbar-fixed-top">
			<div class="navbar-inner">
				<div class="container">
					<button type="button" class="btn btn-navbar" data-toggle="collapse" data-target="nav-collapse">
						<span class="icon-bar"></span>
						<span class="icon-bar"></span> 
						<span class="icon-bar"></span>
					</button>
					<a class="brand" href="#">Stock</a>
					<ul class="nav pull-right">                        
          				<li><a href="/logout">Salir</a></li> 
        			</ul>					
				</div>
			</div>
		</div>
   
  
    #{doLayout /}

    <div class="container">
        <hr/>
        <footer class="row">
            <div class="span12">
                 <!-- p>Open Source Project</p-->
            </div>            
        </footer>
    </div>    
    </body>
</html>
